# Web Framework
Flask

# Data Processing and Analysis
pandas
numpy
yfinance

# Machine Learning and Deep Learning
torch
pytorch-forecasting
scikit-learn

# Visualization
matplotlib
seaborn

# Testing
pytest
unittest2

# Logging and Utilities
python-dateutil